{% extends "layout.html.twig" %}

{% block content %}
<a href="https://www.facebook.com/deepisoursoul" class="zocial icon facebook">Nous rejoindre sur Facebook</a>
<a href="http://soundcloud.com/groups/deep-is-our-soul" class="zocial icon soundcloud">Nous suivre sur Soundcloud</a>
<a href="http://www.youtube.com/embed/GPH9VdH3eEU?autoplay=1&wmode=opaque" class="zocial icon youtube" data-fancybox-type="iframe">nous suivre sur Soundcloud</a>
<p>
Deep Is Our Soul aka D.I.O.S, 4 lettres pour un concept au partage sans complexe.
<p/>
<p>
Musical, profond, vocal, synthétique, acoustique, minimaliste.
</p>
<p>
Une effusion de bass entre nappes et breaks... Sourires et cris de plaisir quand le kick redonne l'impulsion magique aux mains qui se tendent vers le ciel, comme pour remercier D.I.O.S.
</p>
<p>
It's time to Deep !
</p>
<p>
WUMM: "...electronic is our body... Deep is our soul "
</p>

{% endblock %}
