@import url(http://fonts.googleapis.com/css?family=Dosis|Sue+Ellen+Francisco|Flamenco|Waiting+for+the+Sunrise|Reenie+Beanie|Vibur|Nothing+You+Could+Do|Quantico);

/*
font-family: 'Dosis', sans-serif;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Flamenco', cursive;
font-family: 'Waiting for the Sunrise', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Vibur', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Quantico', sans-serif;
*/

@font-face {
  font-family: 'EurostileLTStdMedium';
  src: url('../fonts/eurostileltstd-webfont.eot');
  src: url('../fonts/eurostileltstd-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/eurostileltstd-webfont.woff') format('woff'),
  url('../fonts/eurostileltstd-webfont.ttf') format('truetype'),
  url('../fonts/eurostileltstd-webfont.svg#EurostileLTStdMedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

html, body
{
  text-align: center;
  margin-top: 40px;
  background: #161616 url(../img/bg.png) repeat 0 0;
  color: #FFF;
  color: #e01513;
}

header
{
  border-bottom: 1px solid #242424;
  margin-bottom: 20px;
}

.container
{
    width: 260px
}

#content
{
  margin-top: 10px;
  padding: 0 20px;
}
.col2
{
}

header .logo
{
  display: block;
  width: 100%;
  height: 190px;
  background: transparent url(../img/logo.png) no-repeat 50% 0;
  text-indent: -3000em;
  overflow: hidden;
}


h1, h2
{
  font-family: 'Nothing You Could Do';
  text-transform: uppercase;
  font-size: 30px;
}

a
{
  cursor: pointer;
  color: #e01513;
  text-decoration: none;
}

a:hover
{
  color: #fff;
  text-decoration: none;
}

footer
{
  background: #161616;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 36px;
}

#nav
{
  float:right;
}

body .zocial {
    margin: 8px 4px;
    font-size: 13px;
}

